<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neuedu.demo.dao.StudentMapper">

    <cache type="org.mybatis.caches.ehcache.EhcacheCache"/>
    <!--public List<Student> queryAllMessage();-->
    <select  id="queryAllMessage" resultType="student">
      select * from student
    </select>

    <update id="updateMessage"  parameterType="student">
      update student set stuName=#{stuName},sex=#{sex} where stuId=#{stuId}
    </update>

</mapper>